.Explore__Section{
    display: flex;
    padding: 15px;
    border-bottom: 1px solid #696969;
    margin-bottom: 20px;
}

.Explore__Section--Image{
    width: 350px;
    height: 230px;
    margin-bottom: 10px;
}

.Explore__Section--Title {
    align-content: center;
    padding: 20px;
    width: 200px;
}

.Trends__ContainerCard {
    display: flex;
    flex-wrap: nowrap; /* Evita que los elementos se acomoden en varias filas */
    overflow-x: auto; /* Muestra el scroll horizontal si el contenido excede el ancho */
    gap: 15px; /* Espacio entre las tarjetas */
    padding: 10px;
}

.Trends__Card {
    flex-shrink: 0; /* Evita que las tarjetas se encojan */
    width: 200px; /* Define un ancho fijo para cada tarjeta */
}

/* Personalizar la barra de desplazamiento */
.Trends__ContainerCard::-webkit-scrollbar {
    height: 7px; /* Ancho de la barra de desplazamiento */
}

.Trends__ContainerCard::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color de fondo de la pista de la barra */
}

.Trends__ContainerCard::-webkit-scrollbar-thumb {
    background-color: #696969; /* Color del pulgar (el control deslizante) */
    border-radius: 10px; /* Redondea los bordes del pulgar */
}

.Trends__ContainerCard::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color del pulgar al hacer hover */
}


.Trends__Section--Title {
    width: 250px;
}

.Trends__ContainerCard{
    margin-top: 40px;
}

.Trends__Card--NameArtist{
    text-align: center;
    font-weight: bold;
    margin-bottom: 3px;
}

.Trends__Card--Title{
    font-weight: 200;
}