/* ----- Estilo General ----- */
.Library__Ol {
    list-style-type: none;  /* Elimina los puntos por defecto de las listas */
    padding: 0;
    margin: 0;
  }
  
  .Library__Item {
    display: flex;  /* Para que los elementos dentro de cada li estén en fila */
    align-items: center;  /* Centra los elementos verticalmente */
    padding: 15px;
    margin: 10px 0;
    background-color: #2c2c2c;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    justify-content: space-between; /* Distribuye los elementos a lo largo de la fila */
  }
  
  .Library__Item:hover {
    transform: scale(1.03);  /* Le da un pequeño zoom cuando se pasa el cursor */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  /* Imagen */
  .Library__Ol--Image {
    width: 60px; /* Ajusta el tamaño de la imagen */
    height: 60px;
    border-radius: 50%;  /* Hace la imagen circular */
    object-fit: cover;  /* Asegura que la imagen no se distorsione */
    margin-right: 15px; /* Espacio a la derecha de la imagen */
  }
  
  /* Títulos y nombre del artista */
  .Library__Item span {
    color: #f1f1f1;
    margin-right: 10px;  /* Añade un pequeño espacio entre los spans */
  }
  
  .Library__Item span:first-child {
    font-weight: bold; /* Para el título del track, le damos más peso */
    margin-right: 20px;  /* Más espacio entre el título y el nombre del artista */
  }
  
  /* Íconos */
  /* .Library__Ol--play,
  .Library__Ol--heart {
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: background-color 0.3s ease;
  } */

  
  /* ----- Media Queries ----- */
  @media screen and (max-width: 768px) {
    .Library__Item {
      flex-direction: column;  /* Apilar los elementos en pantallas pequeñas */
      align-items: flex-start;
    }
  
    .Library__Ol--Image {
      margin-bottom: 10px; /* Separa la imagen del texto */
    }
  
    .Library__Item span {
      font-size: 12px; /* Ajusta el tamaño de la fuente para pantallas pequeñas */
    }
  }
  
.Library__Ol--heart, .Library__Ol--play{
    font-size: 20px;
}

.Library__Ol--play::after{
    content: '\25B6';
    padding: 4px;
}

.Library__Ol--heart::after {
    content: '\2764';
    color: red;
    padding: 4px;
    border-radius: 5%;
}